html {
  /*Enable box-sizing for current and legacy browsers*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  /*Enable anti-aliasing for typography in current browsers*/
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  /*Enable box-sizing for current and legacy browsers*/
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*General typography*/
h1, h2, h3, h4, h5, h6 {
  font-family: "acta-display", serif;
  text-align: left;
  font-weight: 900;
}

p, li {
  font-family: "leitura-news", serif;
  font-weight: 300;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.75rem;
}

a {
  font-weight: bold;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: black;
  text-decoration: none;
  
  /*transition effects*/
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #533742;
}

/*Shared rules*/
.container {
  max-width: 40rem;
  padding: 0 2rem 0 2rem;
}

.center {
  margin: 0 auto;
}

.colorWhite {
  color: white;
}

.spaceAbove2rem {
  margin-top: 2rem;
}

.spaceAbove15rem {
  margin-top: 15rem;
}

/*header section*/
.mastheadBackground {
  background-image: url("https://unsplash.com/photos/QbekaGW_zMo/download");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14rem 0;
}

.locationBackground {
  background-image: url("https://unsplash.com/photos/ZPQE4XssoBc/download");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14rem 0;
}

.questionsBackground {
  background-image: url("https://unsplash.com/photos/K6_htm1wpfg/download");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14rem 0;
}

.portfolioBackground {
  background-image: url("https://unsplash.com/photos/LKufzuBn8Bs/download");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14rem 0;
}

.headline {
  font-size: 6rem;
  position: relative;
  top: 15.75rem;
}

.deck {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.025rem; 
  line-height: 2.5rem;
}

.portfolioItem {
  width: 44%;
  margin: 0 2rem 0 0;
  display: inline-block;
}

.portfolioItem > img {
  width: 100%;
  
  /*Slight drop shadow on website screenshots*/
  -webkit-box-shadow: 0px 0px 6px 2px gray;
     -moz-box-shadow: 0px 0px 6px 2px gray;
       -o-box-shadow: 0px 0px 6px 2px gray;
          box-shadow: 0px 0px 6px 2px gray;

  /*transition effects*/
  -webkit-transition: -webkit-box-shadow color 0.3s ease;
  -moz-transition: -moz-box-shadow 0.3s ease;
  -o-transition: -o-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.portfolioItem > img:hover {
    /*Slight drop shadow on website screenshots*/
  -webkit-box-shadow: 0px 0px 6px 2px #EDA838;
     -moz-box-shadow: 0px 0px 6px 2px #EDA838;
       -o-box-shadow: 0px 0px 6px 2px #EDA838;
          box-shadow: 0px 0px 6px 2px #EDA838;
}

.contentFooter {
  margin-bottom: 0;
  padding: 2rem 0 2rem 0;
  background-color: #EDA838;
}

.social {
  list-style: none;
}

.social > li {
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
  padding: 0.5rem 0 0 0.3rem;
  border-radius: 1.5rem;
  background-color: white;
  display: inline-block;
  text-align: center;

  /*transition effects*/
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;

  /*transition effects*/
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.social > li:hover {
  background-color: #533742;
}

.social > li > a:hover {
  color: white;
}

/*Responsive media queries*/
@media only screen and (max-width: 750px) {
    .mastheadBackground,
    .locationBackground,
    .questionsBackground {
      padding: 10rem 0;
    }

    .headline {
      font-size: 4.5rem;
      top: 11.25rem;
    }

    .deck {
      font-size: 1.3rem;
      line-height: 1.7rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .spaceAbove15rem {
      margin-top: 10rem;
    }
}

@media only screen and (max-width: 550px) {
    .mastheadBackground,
    .locationBackground,
    .questionsBackground {
      padding: 6rem 0;
    }

    .headline {
      font-size: 3.5rem;
      top: 7rem;
    }

    .deck {
      font-size: 1.3rem;
      line-height: 1.7rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .spaceAbove15rem {
      margin-top: 4rem;
    }
}

